/* input, select */

.field-input .label {
    font-size: 13px;
    padding-bottom: 4px;
    display: block;
}

.field-input .important {
    color: #f20;
}

.field-input .input {
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 40px;
    color: #000;
    font-size: 13px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

.field-input .input:focus {
    border-color: #019160;
    outline: none;
    color: #000;
}

.field-input.has-icon-left {
    position: relative;
}

.field-input.has-icon-left .icon-left {
    position: absolute;
    top: 14px;
    height: 16px;
    width: 16px;
    margin-left: 16px;
    margin-right: 8px;
}

.field-input.has-icon-left .input {
    padding-left: 40px;
}


/* button radio */

.btn-radio {
    display: inline-flex;
    align-items: center;
    height: 40px;
    line-height: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.btn-radio input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0;
}

.btn-radio label {
    display: inline-block;
    margin-left: 4px;
}


/* .input::-ms-input-placeholder,
.input::-webkit-input-placeholder,
.input::placeholder {
    font-size: 11px;
} */